# Application
NODE_ENV=development
PORT=3000

# Supabase Database (Connection Pooling - Recommended)
DB_HOST=aws-0-us-east-1.pooler.supabase.com
DB_PORT=6543
DB_USERNAME=postgres.nheefvchtxtetadwiwin
DB_PASSWORD=BABAsali25!gold
DB_NAME=postgres

# Supabase API
SUPABASE_URL=https://nheefvchtxtetadwiwin.supabase.co
SUPABASE_ANON_KEY=sb_publishable_l6Dw7FOk_Wj7UejxhMJ3lw_SLBrwpzC
SUPABASE_SERVICE_KEY=sb_secret_DtaTGRdp8BsnrlKAwpV3iw_gGh41bVn

# JWT
JWT_SECRET=dealclick-secret-key-change-in-production
JWT_EXPIRATION=30d

# CORS
CORS_ORIGIN=*


# Backblaze B2 Storage
B2_APPLICATION_KEY_ID=bade40672800
B2_APPLICATION_KEY=0059ef78255ab8ae9ba06899ac963654325ac4e211
B2_BUCKET_ID=0b1aaddeb490d66792980010
B2_BUCKET_NAME=dealclick-images
B2_CDN_URL=https://f005.backblazeb2.com/file/dealclick-images
